<%layout("layouts/boilerPlate")-%>
<body>
    <div class="edit-body">
        <div class="img-container"> 
            <img class="square-img" src="<%=data.image.url%>" alt="">
        </div>
        <div class="container form-container edit-form-container">
            <form method="POST" action="/listing/<%=data._id%>?_method=PUT">
                <div class="row form-group">
                    <h2>Edit the Details</h2>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input id="title" class="form-control" type="text" placeholder="Hotel Name..." value="<%=data.title%>" name="title" maxlength="15" required>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <textarea id="description" class="form-control" rows="" cols="" placeholder="Description..." name="description"><%=data.description%></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input class="form-control" id="img" type="url" placeholder="update URL..." name="imageURL">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input class="form-control" type="number" name="price" value="<%=data.price%>" placeholder="Price per night..." required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input class="form-control" type="text" name="location" value="<%=data.location%>" placeholder="City/Town..." required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <input class="form-control" value="<%=data.country%>" type="text" name="country" placeholder="Country...">
                    </div>
                </div>
                <div class="row">
                    <button class="submit-btn" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</body>
